<div class="st_bt_top_header_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
				<div class="st_bt_top_back_btn float_left"> <a routerLink="/food-combo"><i
							class="fas fa-long-arrow-alt-left"></i> &nbsp;Back</a>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="st_bt_top_center_heading float_left">
					<!-- <h3> {{ movie?.name }} - English - {{ movie?.duration }} minutes </h3> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- st top header Start -->
<!-- st dtts section Start -->
<div class="st_dtts_wrapper float_left">
	<div class="container">

		<div class="row">
			<form [formGroup]="paymentForm">
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
					<div class="st_dtts_left_main_wrapper float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="st_dtts_ineer_box float_left">
									<ul>
										<app-session-timer></app-session-timer>
										<li><span class="dtts1">Date</span> {{ showingrelease.date_release }} <span
												class="dtts2"></span></li>
										<li><span class="dtts1">Time</span> {{ showingrelease.time_release }} <span
												class="dtts2"></span></li>
										<li><span class="dtts1">Movie</span> {{ showingrelease.movie.name }} <span
												class="dtts2"></span></li>
										<li><span class="dtts1">Room</span> {{ showingrelease.room.name }} <span
												class="dtts2"></span></li>
										<li><span class="dtts1">Cinema</span> {{ showingrelease.room.cinema.name }}
											<span class="dtts2"></span></li>
										<li>
											<span class="dtts1">Seat</span> <span *ngFor=" let seat of selectedSeats">
												{{ seat.seat.row + seat.seat.column }}</span>
										</li>


									</ul>
								</div>
							</div>
							<div class="col-md-12">
								<div class="st_cherity_section float_left">
									<div class="st_cherity_img float_left">
										<div class="col-12 bg-dark">
											<div class="p-3" style="display: flex; justify-content: center;">
												<!-- <form [formGroup]="paymentForm"> -->
												<div style="width: 545px;" class="text-white">
												  <h2 class="fw-bold my-5" style="color: white; padding-left: 85px;">Payment Method</h2>
												  <div style="padding-left: 105px; margin-bottom: 0 !important;" class="form-check my-3">
													<input class="form-check-input" type="radio" formControlName="paymentMethod" value="vnpay" id="vnpay">
													<label class="form-check-label" for="vnpay">VNPAY</label>
												  </div>
												  <div style="padding-left: 105px;" class="form-check">
													<input class="form-check-input" type="radio" formControlName="paymentMethod" value="momo" id="momo">
													<label class="form-check-label" for="momo">Momo</label>
												  </div>
												  <div style="padding-left: 105px;" class="form-check">
													<input class="form-check-input" type="radio" formControlName="paymentMethod" value="paypal" id="paypal">
													<label class="form-check-label" for="paypal">PayPal</label>
												  </div>
												  <div style="padding-right: 200px;" class="my-5 text-center">
													
												  </div>
												</div>
												<!-- </form> -->
											</div>
										</div>
									</div>
									<div class="st_cherity_img_cont float_left">
										<div class="box">
											<p class="cc_pc_color1">
												<input type="checkbox" id="c201" name="cb">
												<label for="c201"><span>ADD Rs. 2</span> to your transaction as a
													donation. (Uncheck if you do not wish to donate)</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="st_cherity_btn float_left">
									<h3>SELECT TICKET TYPE</h3>

									<ul>
										<li><a href="#"><i class="flaticon-tickets"></i> &nbsp;M-Ticket</a>
										</li>
										<li><a href="#"><i class="flaticon-tickets"></i> &nbsp;Box office Pickup </a>
										</li>
										<li>
											<button type="submit" (click)="submit()">Proceed to Pay </button>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-md-12">
							<div class="st_dtts_bs_wrapper float_left">
								<div class="st_dtts_bs_heading float_left">
									<p>{{ bookingSummary }}</p>
								</div>
								<div class="st_dtts_sb_ul float_left">

									<ul>
										<div class="">
											<h3>Tickets</h3>
											<div *ngFor=" let seat of selectedSeats">
												<li style="text-transform: uppercase;"> {{ seat.seat.row +
													seat.seat.column }}
													<span class="dtts2">
														{{ seat.seat.seat_type.price | currency: 'USD' }}
													</span>
												</li>
											</div>
											<hr style="border: 1px solid #000; margin: 10px 0;">
											<div class="">
												<li>Sub total:
													<span class="dtts2" style="text-transform: uppercase;">
														{{ totalPriceTicketSeat | currency: 'USD' }}
													</span>
												</li>
											</div>
										</div>
										<div class="mt-4">
											<h3>Food Combos</h3>
											<ul>
												<li *ngFor="let food of selectedFoodCombos"
													style="text-transform: uppercase;">
													{{ food.name }} - Quantity: {{ food.quantity }}:
													<span class="dtts2">
														{{ (food.price * food.quantity) | currency: 'USD' }}
													</span>
												</li>
											</ul>
											<hr style="border: 1px solid #000; margin: 10px 0;">
											<div class="">
												<li>Sub total:
													<span class="dtts2" style="text-transform: uppercase;">
														{{ totalPriceFoodCombo | currency: 'USD' }}
													</span>
												</li>
											</div>
										</div>
										<hr>
										<div class="mt-5">
											<h3>Apply Voucher</h3>
											<div class="mt-2">
												<input 
													type="text" 
													class="form-control" 
													[(ngModel)]="code"
													[ngModelOptions]="{standalone: true}"
													placeholder="Enter voucher code"
													(input)="onVoucherInputChange($event)"> <!-- Lắng nghe sự kiện thay đổi -->
												
											</div>
											<div *ngIf="errorMessage" class="alert alert-danger mt-2">
												{{ errorMessage }}
											</div>
											<div *ngIf="voucherResponse" class="mt-2">
												<li>
													<h5>Voucher: {{voucherResponse.code}}</h5>
													<span *ngIf="voucherResponse.type === 'Fixed'" class="fw-bold">
														 {{ voucherResponse.amount | currency: 'USD' }}
														
													</span>
													<span *ngIf="voucherResponse.type === 'Percent'" class="fw-bold">
														 {{ voucherResponse.amount }}%
														
													</span>
												</li>
											</div>
										</div>
									</ul>
								</div>
								<div class="st_dtts_sb_h2 float_left">
									<!-- <button>{{ grandTotal }}</button> -->
									<h2>Total: <span class="text-danger">{{ grandTotal | currency: 'USD' }} </span>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>