<div class="prs_top_video_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="st_video_slider_inner_wrapper float_left">
						<div class="st_video_slider_overlay"></div>
						<div class="st_video_slide_sec float_left">
							<div *ngFor="let attribute of movie?.attributes">
								<div *ngIf="attribute?.name === 'Trailer'">
									<a rel='external' href='{{ attribute?.attribute_values[0].value }}' title='title' class="test-popup-link">
										<img src="../../../../assets/images/index_III/icon.png" alt="img">
									</a>
								</div>
							</div>
							<h3>{{ movie?.name }}</h3>
							<div *ngFor="let attribute of movie?.attributes">
								<p *ngIf="attribute?.name === 'Languge'">
									<span *ngFor="let attValue of attribute?.attribute_values">{{ attValue?.value + ' . '}}</span>
								</p>
							</div>
							<h4><span *ngFor="let category of movie?.categories">{{ category?.name }} . </span></h4>
							<h5><span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h5>
						</div>
						<div class="st_video_slide_social float_left">
						<div class="st_slider_rating_btn_heart st_slider_rating_btn_heart_5th">
								<h5><i class="fa fa-heart"></i> 85%</h5>
							</div>
							<div class="st_video_slide_social_left float_left">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-youtube"></i></a>
									</li>
								</ul>
							</div>
							<div class="st_video_slide_social_right float_left">
								<ul>
									<li data-animation="animated fadeInUp" class=""><i class="far fa-calendar-alt"></i>{{ movie?.premiere_date }}</li>
									<li data-animation="animated fadeInUp" class=""><i class="far fa-clock"></i> {{ movie?.duration }} minutes</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs video top End -->
	<!-- st slider rating wrapper Start -->
	<div class="st_slider_rating_main_wrapper float_left">
		<div class="container">
			<div class="st_slider_rating_left">
				<div class="st_rating_box">
					<fieldset class="rating">
					<h3>3</h3>
						<input type="radio" name="rating" value="5" />
						<label class="full" title="5 stars"></label>
						<input type="radio" name="rating" value="4 and a half" />
						<label class="half" title="4.5 stars"></label>
						<input type="radio" name="rating" value="4" />
						<label class="full" title="4 stars"></label>
						<input type="radio" name="rating" value="3 and a half" />
						<label class="half" title="3.5 stars"></label>
						<input type="radio" name="rating" value="3" />
						<label class="full" title="3 stars"></label>
						<input type="radio" name="rating" value="2 and a half" />
						<label class="half" title="2.5 stars"></label>
						<input type="radio" name="rating" value="2" />
						<label class="full" title="2 stars"></label>
						<input type="radio" name="rating" value="1 and a half" />
						<label class="half" title="1.5 stars"></label>
						<input type="radio" name="rating" value="1" />
						<label class="full" title="1 star"></label>
						<input type="radio" name="rating" value="half" />
						<label class="half" title="0.5 stars"></label>
												</fieldset>
					<h4>CRITICS RATING</h4>
				</div>
				<div class="st_rating_box st_rating_box2">
					<fieldset class="rating">
					<h3>4.5&nbsp;&nbsp;</h3>
						<input type="radio" name="rating" value="5" />
						<label class="full" title="5 stars"></label>
						<input type="radio" name="rating" value="4 and a half" />
						<label class="half" title="4.5 stars"></label>
						<input type="radio" name="rating" value="4" />
						<label class="full" title="4 stars"></label>
						<input type="radio" name="rating" value="3 and a half" />
						<label class="half" title="3.5 stars"></label>
						<input type="radio" name="rating" value="3" />
						<label class="full" title="3 stars"></label>
						<input type="radio" name="rating" value="2 and a half" />
						<label class="half" title="2.5 stars"></label>
						<input type="radio" name="rating" value="2" />
						<label class="full" title="2 stars"></label>
						<input type="radio" name="rating" value="1 and a half" />
						<label class="half" title="1.5 stars"></label>
						<input type="radio" name="rating" value="1" />
						<label class="full" title="1 star"></label>
						<input type="radio" name="rating" value="half" />
						<label class="half" title="0.5 stars"></label>
												</fieldset>
					<h4>USERS RATING</h4>
				</div>
				<div class="st_rating_box st_rating_box2">
					<fieldset class="rating">
					<h3>0&nbsp;&nbsp;</h3>
						<input type="radio" name="rating" value="5" />
						<label class="full" title="5 stars"></label>
						<input type="radio" name="rating" value="4 and a half" />
						<label class="half" title="4.5 stars"></label>
						<input type="radio" name="rating" value="4" />
						<label class="full" title="4 stars"></label>
						<input type="radio" name="rating" value="3 and a half" />
						<label class="half" title="3.5 stars"></label>
						<input type="radio" name="rating" value="3" />
						<label class="full" title="3 stars"></label>
						<input type="radio" name="rating" value="2 and a half" />
						<label class="half" title="2.5 stars"></label>
						<input type="radio" name="rating" value="2" />
						<label class="full" title="2 stars"></label>
						<input type="radio" name="rating" value="1 and a half" />
						<label class="half" title="1.5 stars"></label>
						<input type="radio" name="rating" value="1" />
						<label class="full" title="1 star"></label>
						<input type="radio" name="rating" value="half" />
						<label class="half" title="0.5 stars"></label>
					</fieldset>
					<h4>RATE IT</h4>
				</div>
			</div>
			<div class="st_slider_rating_right">
				<div class="st_slider_rating_btn prs_animate_btn1">
					<ul>
						<li data-animation="animated fadeInUp">
							<a [routerLink]="['/movie-booking', movieId]" class="button button--tamaya prs_upcom_main_btn" data-text="book now"><span>book now</span></a>
						</li>
					</ul>
				</div>
				<div class="st_slider_rating_btn_heart">
					<h5><i class="fa fa-heart"></i> 85%</h5>
					<h4>52,291 votes</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- st slider rating wrapper End -->
	<!-- st slider sidebar wrapper Start -->
	<div class="st_slider_index_sidebar_main_wrapper st_slider_index_sidebar_main_wrapper_md float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="st_indx_slider_main_container float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="ne_busness_main_slider_wrapper float_left">
											<div class="ne_recent_heading_main_wrapper ne_recent_heading_main_wrapper_index_II float_left">
												<h2>TRENDING STORIES</h2>
											</div>
										</div>
									</div>
									<div *ngFor="let story of topStories" class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="st_md_ts_main_sec float_left">
											<img src="{{ story?.image }}" alt="img">
											<p><a [routerLink]="['/blog', story?.id]">{{ story?.title }}</a></p>
											<span>{{ story?.updated_at | date:'MMMM d' }}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="prs_upcome_tabs_wrapper prs_upcome_tabs_wrapper_mss float_left">
									<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" aria-controls="best" role="tab" data-toggle="tab">Summary</a>
							</li>
							<li role="presentation"><a href="#menu2" aria-controls="trand" role="tab" data-toggle="tab">Images of movie</a>
							</li>
						</ul>
								</div>
							</div>
							<div class="col-md-12">
								<div class="tab-content">
									<div id="home" class="tab-pane active">
										<div class="row">
											<div class="col-md-12">
												<div class="st_md_summ_pera float_left">
													<h5>DESCRIPTION</h5>
													<p>{{ movie?.description }}</p>
												</div>
											</div>
											<div class="col-md-12">
												<div class="st_md_summ_client_slider float_left">
													<p>ACTOR</p>
													<div class="row owl-theme">
														<div *ngFor="let actor of movie?.actors" class="item col-lg-3">
															<div class="st_summ_slider_cont float_left">
																<img width="120px" height="120px" src="{{ 'http://127.0.0.1:8000/' + actor?.avatar }}" alt="img">
																<h4><a href="#">{{ actor?.name }}</a></h4>
																<h5>Actor</h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="menu2" class="tab-pane fade">
										<div class="row">
											<!-- images list start -->
											<div *ngFor="let attribute of movie?.attributes">
												<div *ngIf="attribute?.name === 'Image'">
													<div *ngFor="let image of attribute.attribute_values" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
														<div class="prs_ms_scene_slider_img prs_ms_scene_slider_img22">
															<img width="264px" height="150px" src="{{ image?.value }}" alt="scene_img">
															<div class="prs_ms_scene_img_overlay">	<a href="{{ image?.value }}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										    <!-- images list end -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
					<div class="st_ind_sidebar_right_wrapper float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="st_ind_sidebar_md_textbox float_left">
									<p>Highest grossing movie in Mumbai in last 24 hours</p>	<a href="#">Know Box Office Report</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="st_ind_sidebar_md_textbox_btn float_left">
									<ul>
										<li><a [routerLink]="['/movie-booking', movieId]">Corporate booking &nbsp; <i class="fas fa-long-arrow-alt-right"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-12">
								<div class="st_ind_sidebar_advertiz st_ind_sidebar_advertiz_md float_left">
									<a href="#">
										<img src="../../../../assets/images/index_III/add.png" alt="img">
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="st_ind_sidebar_advertiz_social st_video_slide_social_left  float_left">
									<h3>Profiles</h3>
									<ul>
										<li><a href="#"><i class="fa fa-facebook-f"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs patner slider Start -->
	<div class="prs_patner_main_section_wrapper prs_patner_main_section_wrapper_ind3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Our Patner’s</h2>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_pn_slider_wraper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="prs_pn_img_wrapper">
									<img src="../../../../assets/images/content/p1.jpg" alt="patner_img">
								</div>
							</div>
							<div class="item">
								<div class="prs_pn_img_wrapper">
									<img src="../../../../assets/images/content/p2.jpg" alt="patner_img">
								</div>
							</div>
							<div class="item">
								<div class="prs_pn_img_wrapper">
									<img src="../../../../assets/images/content/p3.jpg" alt="patner_img">
								</div>
							</div>
							<div class="item">
								<div class="prs_pn_img_wrapper">
									<img src="../../../../assets/images/content/p4.jpg" alt="patner_img">
								</div>
							</div>
							<div class="item">
								<div class="prs_pn_img_wrapper">
									<img src="../../../../assets/images/content/p5.jpg" alt="patner_img">
								</div>
							</div>
							<div class="item">
								<div class="prs_pn_img_wrapper">
									<img src="../../../../assets/images/content/p6.jpg" alt="patner_img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <app-newsletter></app-newsletter>