// .title {
//     margin-top: 50px;
// }

.content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.truncated-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cho phép xuống dòng */
  }