<div class="top">
  <div class="top-movies">
    <h2 class="slider-title">Top movie in month</h2>
    <div id="slider-container" class="slider" style="background-color: transparent;
      box-shadow: none;">
      <div *ngFor="let movie of topMovies" class="slide rounded-4">
        <img (click)="viewDetails(movie?.id)" height="600px" [src]="'http://127.0.0.1:8000/' + movie?.photo" alt="">
        <div style="background-color: white;">
          <h4><a (click)="viewDetails(movie?.id)" href="javascript:void(0);">{{ movie?.name }}</a></h4>
        </div>
      </div>
  
      <div (click)="prev()" class="control-prev-btn">
        <i class="fas flaticon-play-button"></i>
      </div>
      <div (click)="next()" class=" control-next-btn">
        <i class="fas flaticon-play-button"></i>
      </div>
    </div>
  </div>
  
  
  <div class="overlay"></div>
</div>


