<div class="prs_main_slider_wrapper">
	<app-slider></app-slider>
	<!-- END REVOLUTION SLIDER -->
</div>
<!-- prs Slider End -->
<!-- prs upcomung Slider Start -->
<div class="prs_upcom_slider_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_heading_section_wrapper">
					<h2>Upcoming Movies</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_upcome_tabs_wrapper">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#best" aria-controls="best" role="tab" data-toggle="tab"> Upcoming Movies</a>
						</li>
						<li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">Relesed Movies </a>
						</li>
						<li role="presentation"><a href="#trand" aria-controls="trand" role="tab" data-toggle="tab">Best of library</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="best">
					<div class="prs_upcom_slider_slides_wrapper">
						<div class="">
							<div class="item">
								<!-- list phim đang chiếu -->
								 
								 <app-upcoming-movie></app-upcoming-movie>
								 <!--  -->
							</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="prs_animate_btn1 prs_upcom_main_wrapper prs_1">
								<ul>
									<li><a  (click)="goToMovies()" href="javascript:void(0);" class="button button--tamaya prs_upcom_main_btn" data-text="view all"><span>View All</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div> -->
				</div>
				<div role="tabpanel" class="tab-pane fade" id="hot">
					<div class="prs_upcom_slider_slides_wrapper">
						<div class="">
							<div class="item">
								<!-- list phim sắp chiếu -->
								<app-relesed-movie></app-relesed-movie>
								<!--  -->
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="prs_animate_btn1 prs_upcom_main_wrapper">
								<ul>
									<li><a (click)="goToMovies()" href="javascript:void(0);" class="button button--tamaya prs_upcom_main_btn" data-text="view all"><span>View All</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="trand">
					<div class="prs_upcom_slider_slides_wrapper">
						<div class="">
							<div class="item">
								<app-best-movie></app-best-movie>	
							</div>
												
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="prs_animate_btn1 prs_upcom_main_wrapper">
								<ul>
									<li><a (click)="goToMovies()" href="javascript:void(0);" class="button button--tamaya prs_upcom_main_btn" data-text="view all"><span>View All</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- prs upcomung Slider End -->

<!-- prs theater Slider Start -->
<div class="prs_theater_main_slider_wrapper">
<!-- <div class="prs_theater_main_slider_wrapper">
	<div class="prs_theater_img_overlay"></div>
	<div class="prs_theater_sec_heading_wrapper">
		<h2>TOP MOVIES IN THEATRES</h2>
	</div>
	< class="wrap-album-slider" >
		<!-- TOP MOVIES -->
			<app-top-movie></app-top-movie>
		
		
		<!-- End slider -->
	<!-- </div> -->
		<!-- End slider -->
</div> 
<!-- prs theater Slider End -->
<!-- prs letest news Start	-->
<div class="prs_ln_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_heading_section_wrapper">
					<h2>LAtest News</h2>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height: 500px;">
				<div  *ngFor="let Hot of blogHot" class="prs_ln_left_img_wrapper" style="background-image: none;">
					<div  class="prs_in_left_img_overlay" >
						<img  [src]="'http://127.0.0.1:8000/'+ Hot?.image" class="overlay-image w-100 h-100 rounded-3">
					</div>
					<div class="prs_webseri_video_sec_icon_wrapper " >
						<ul>
							<li><a class="test-popup-link button"  rel='external' href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title'><i class="flaticon-play-button"></i></a>
							</li>
						</ul>
					</div>
					<div class="prs_prs_webseri_video_sec_icon_cont_wrapper">
						<p>{{Hot.created_at | date:'dd MMM yyyy'}}</p>
						<h2><a class="text-white" [routerLink]="['/blog', Hot.id]">{{Hot.title}}</a></h2>
						<ul>
							<!-- <li><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;<a href="#">120 Like</a>
							</li>
							<li><i class="fa fa-comments-o"></i>&nbsp;&nbsp;<a href="#">52 Comments</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="prs_ln_right_main_wrapper">
					<!-- blog home -->
					<app-blog-movie></app-blog-movie>
					<!--  -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- prs letest news End -->


<!-- prs video section Start -->
<!-- <div class="prs_video_section_main_wrapper" [style.backgroundImage]="'url(' + this.sliderIMG + ')'">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_video_sec_icon_wrapper">
					<ul>
						<li><a class="test-popup-link button" rel='external'
								href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title'><i
									class="flaticon-play-button"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- prs video section End -->


<!-- prs feature slider Start -->
		<!-- <app-silder-video></app-silder-video> -->
<!-- prs feature slider End -->

<!-- prs patner slider Start -->
<!-- <div class="prs_patner_main_section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_heading_section_wrapper">
					<h2>Our Patner’s</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_pn_slider_wraper">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../assets/images/content/p1.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../assets/images/content/p2.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../assets/images/content/p3.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../assets/images/content/p4.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../assets/images/content/p5.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../assets/images/content/p6.jpg" alt="patner_img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<app-newsletter></app-newsletter>
