<div class="prs_ec_ue_main_section_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 header">
        <div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left"> 
        </div>
        <app-session-timer></app-session-timer>
      </div>
      <div class="col-12 details-section">
        <p>Date: <span>{{ showingRelease.premiere_date }}</span></p>
        <p>Time: <span>{{ showingRelease.time_release }}</span></p>
        <p>Movie: <span>{{ showingRelease.movie.name }}</span></p>
        <p>Cinema: <span>{{ showingRelease.room.cinema.name }}</span></p>
        <p>Total: <span>{{ totalPriceFoodCombo | currency }}</span></p>
      </div>
      <div class="prs_heading_section_wrapper">
        <h2>Select Food Combos</h2>
      </div>
      <!-- food combos -->
      <section class="section-meals">
        <div class="container-food grid grid--3-cols margin-right-md">
          <div *ngFor="let combo of foodCombos" class="meal">
            <img
                [src]="combo?.avatar ? 'http://127.0.0.1:8000/' + combo.avatar : ''"
                class="meal-img"
                [alt]="combo?.name ? combo.name : 'Default Alt Text'"
            />
            <div class="meal-content">
              <div class="meal-tags">
                <span class="tag tag--vegetarian">{{ combo?.name }}</span>
              </div>
              <p class="meal-title">{{ 'Price: ' + (combo?.price | currency)}}</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <span>{{ combo?.description }}</span>
                </li>
                <li class="meal-attribute">
                  <div class="quantity-controls">
                    <button (click)="decreaseQuantity(combo.id)" class="quantity-btn">-</button>
                    <input type="number" [(ngModel)]="combo.quantity" min="0" (input)="onQuantityChange(combo.id, $event)" class="quantity-input">
                    <button (click)="increaseQuantity(combo.id)" class="quantity-btn">+</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- continute buttom -->
		<div class="d-flex justify-content-between col-lg-4 col-md-4 col-sm-12 col-xs-12 st_seat_full_container">
			<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left"> 
				<a routerLink="/seat-booking">
					<i class="fas fa-long-arrow-alt-left"></i> &nbsp;Back
				</a>
			</div>
			<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left">
				<a routerLink="/booking-type" href="javascript:void(0);">
				<i class="fas fa-long-arrow-alt-left"></i> &nbsp;Continue
				</a>
			</div>
		</div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
