<div class="prs_title_main_sec_wrapper">
	<div class="prs_title_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_title_heading_wrapper">
					<h2>Movie Category</h2>
					<ul>
						<li><a href="#">Home</a>
						</li>
						<li>&nbsp;&nbsp; >&nbsp;&nbsp; Movie Category</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- prs title wrapper End -->
<!-- prs mc slider wrapper Start -->
<div class="prs_mc_slider_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_heading_section_wrapper">
					<h2>Comming soon</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_mc_slider_wrapper">
					<div class="owl-carousel owl-theme">
						<div *ngFor="let banner of bannerImages" class="item">
							<img src="{{ 'http://localhost:8000/' + banner?.image}}" alt="about_img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- prs mc slider wrapper End -->
<!-- prs mc category slidebar Start -->
<div class="prs_mc_category_sidebar_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
				<div class="prs_mcc_left_side_wrapper">
					<!-- search form start -->
					<form action="" method="get">
						<div class="prs_mcc_left_searchbar_wrapper">
							<input (input)="onSearch($event)" type="text"
								placeholder="Search Movie">
							<button><i class="flaticon-tool"></i></button>
						</div>
					</form>
					<!-- search form end -->
					<div class="prs_mcc_bro_title_wrapper">
						<h2>browse title</h2>
						<ul>
							<li>
								<i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;
								<a (click)="getAllMovies($event)" href="#">All <span>{{ countAllMovies }}</span></a>
							</li>
							<!-- list categories -->
							<li *ngFor="let category of categories"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;&nbsp;
								<a (click)="getMoviesByCategoryID(category.id, $event)" href="#">{{ category?.name }} <span>{{ category?.movies_count }}</span></a>
							</li>
						</ul>
					</div>
					<div class="prs_mcc_event_title_wrapper">
						<h2>Top Events</h2>
						<img src="../../../../assets/images/content/movie_category/event_img.jpg" alt="event_img">
						<h3><a href="#">Music Event in india</a></h3>
						<p>Pune <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
									class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
						</p>
						<h4>June 07 <span>08:00-12:00 pm</span></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<div class="prs_mcc_right_side_wrapper">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="prs_mcc_right_side_heading_wrapper">
								<h2>Our Top Movies</h2>
								<ul class="nav nav-pills">
									<li class="active"><a data-toggle="pill" href="#grid"><i
												class="fa fa-th-large"></i></a>
									</li>
									<li><a data-toggle="pill" href="#list"><i class="fa fa-list"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="tab-content">
								<div id="grid" class="tab-pane fade in active">
									<div class="row">
										<!-- list movies start 1-->
										<div *ngFor="let movie of movies"
											class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_upcom_slide_first">
											<div class="prs_upcom_movie_box_wrapper prs_mcc_movie_box_wrapper">
												<div class="prs_upcom_movie_img_box">
													<img width="262px" height="350px" [src]="'http://127.0.0.1:8000/' + movie?.photo"
														alt="movie_img" />
													<div class="prs_upcom_movie_img_overlay"></div>
													<div class="prs_upcom_movie_img_btn_wrapper">
														<ul>
															<li><a href="#">View Trailer</a>
															</li>
															<li><a (click)="viewDetails(movie?.id)" href="javascript:void(0);">View Details</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="prs_upcom_movie_content_box">
													<div class="prs_upcom_movie_content_box_inner">
														<h2 class="truncate-text"><a (click)="viewDetails(movie?.id)" href="javascript:void(0);">{{ movie?.name }}</a></h2>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="prs_upcom_movie_content_box_inner_icon">
														<ul>
															<li>
																<a [routerLink]="['/movie-booking', movie?.id]">
																	<img width="32px" height="32px" src="../../../../assets/images/content/ticket_7550408.png" alt="" srcset="">
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<!-- list movies end 1-->
									</div>
								</div>

								<!-- paginate start -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="pager_wrapper gc_blog_pagination">
										<ul class="pagination">
											<li>
												<a (click)="previousPage()" href="javascript:void(0);" [class.disabled]="currentPage === 1"><i class="flaticon-left-arrow"></i></a>
											</li>
											<li *ngFor="let page of getPages()">
												<a [class.active1]="currentPage === page" (click)="onPageChange(page)" href="javascript:void(0);">{{ page }}</a>
											</li>
											<li>
												<a (click)="nextPage()"  href="javascript:void(0);" [class.disabled]="currentPage === totalPages"><i class="flaticon-right-arrow"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<!-- paginate end -->

								<div id="list" class="tab-pane fade">
									<div class="row">
										<!-- list movies start 2-->
										<div *ngFor="let movie of movies"
											class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="prs_mcc_list_movie_main_wrapper">
												<div class="prs_mcc_list_movie_img_wrapper">
													<img width="262px" height="350px" [src]="'http://127.0.0.1:8000/' + movie?.photo" alt="categoty_img">
												</div>
												<div class="prs_mcc_list_movie_img_cont_wrapper">
													<div class="prs_mcc_list_left_cont_wrapper">
														<h2><a (click)="viewDetails(movie?.id)" href="javascript:void(0);">{{ movie?.name }}</a></h2>
														<p>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</p>
														<h4>Movie Director - {{ movie?.director?.name }}</h4>
													</div>
													<div class="prs_mcc_list_right_cont_wrapper">
														<a [routerLink]="['/movie-booking', movie?.id]">
															<img width="32px" height="32px" src="../../../../assets/images/content/ticket_7550408.png" alt="" srcset="">
														</a>
													</div>
													<div class="prs_mcc_list_bottom_cont_wrapper">
														<p>{{ movie.description }}</p>
														<ul>
															<li><a (click)="viewDetails(movie?.id)" href="javascript:void(0);">View Details</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<!-- list movies end 2-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-sm visible-xs">
				<div class="prs_mcc_left_side_wrapper">
					<form action="" method="get">
						<div class="prs_mcc_left_searchbar_wrapper">
							<input (input)="onSearch($event)" type="text" placeholder="Search Movie">
							<button type="submit"><i class="flaticon-tool"></i></button>
						</div>
					</form>
					<div class="prs_mcc_bro_title_wrapper">
						<h2>browse title</h2>
						<ul>
							<li>
								<i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;
								<a (click)="getAllMovies($event)" href="#">All <span>{{ countAllMovies }}</span></a>
							</li>
							<!-- list categories -->
							<li *ngFor="let category of categories"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;&nbsp;
								<a (click)="getMoviesByCategoryID(category.id, $event)" href="#">{{ category.name }} <span>{{ category.movies_count }}</span></a>
							</li>
						</ul>
					</div>
					<div class="prs_mcc_event_title_wrapper">
						<h2>Top Events</h2>
						<img src="../../../../assets/images/content/movie_category/event_img.jpg" alt="event_img">
						<h3><a href="#">Music Event in india</a></h3>
						<p>Mumbai & Pune <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i
									class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
									class="fa fa-star-o"></i></span>
						</p>
						<h4>June 07 <span>08:00-12:00 pm</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- prs mc category slidebar End -->


<!-- top movies start-->
<section class="top-movies">
	<h3 class="slider-title">Top movie in month</h3>
	<div id="slider-container" class="slider">
		<div *ngFor="let movie of topMovies" class="slide">
			<img (click)="viewDetails(movie?.id)" height="600px" [src]="'http://127.0.0.1:8000/' + movie?.photo" alt="">
			<div>
				<h4><a (click)="viewDetails(movie?.id)" href="javascript:void(0);">{{ movie?.name }}</a></h4>
			</div>
		</div>

		<div (click)="prev()" class="control-prev-btn">
			<i class="fas flaticon-play-button"></i>
		</div>
		<div (click)="next()" class=" control-next-btn">
			<i class="fas flaticon-play-button"></i>
		</div>
	</div>
</section>


<div class="overlay"></div>
<!-- top movies end-->


<!-- prs patner slider Start -->
<div class="prs_patner_main_section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_heading_section_wrapper">
					<h2>Our Patner’s</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_pn_slider_wraper">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../../assets/images/content/p1.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../../assets/images/content/p2.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../../assets/images/content/p3.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../../assets/images/content/p4.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../../assets/images/content/p5.jpg" alt="patner_img">
							</div>
						</div>
						<div class="item">
							<div class="prs_pn_img_wrapper">
								<img src="../../../../assets/images/content/p6.jpg" alt="patner_img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-newsletter></app-newsletter>