<div class="prs_upcom_slider_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="prs_heading_section_wrapper">
					<h2>Combo</h2>
				</div>
			</div>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active">
					<div class="prs_upcom_slider_slides_wrapper">
						<div class="">
							<div class="item">
								<div class="row">
									<div *ngFor="let upcoming of food" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_upcom_slide_first">
										<div class="prs_upcom_movie_box_wrapper">
											<div class="prs_upcom_movie_img_box">
												<img [src]="'http://127.0.0.1:8000/'+ upcoming?.avatar" height="250px" alt="movie_img" />
												<div class="prs_upcom_movie_img_overlay"></div>
											</div>
										</div>
									</div>								
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

