.hs_blog_box1_main_wrapper {
    margin-bottom: 20px; /* Thêm khoảng cách dưới mỗi bài viết */
  }

  .truncated-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cho phép xuống dòng */
  }

  a.disabled {
    pointer-events: none;
    background-color: gray !important;
    border: none !important;
    cursor: default;
  }
  
  a.active1 {
    font-weight: bold;
    background-color: black !important;
    color: white;
  }

  