<div class="st_bt_top_header_wrapper float_left">
	<div class="container container_seat">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="st_bt_top_center_heading st_bt_top_center_heading_seat_book_page float_left">
					<!-- <h3> {{ movie?.name }} - English - {{ movie?.duration }} minutes </h3> -->
					<!-- <h4>{{ formatTime2(showing?.time_release) }}, {{ formatTime(showing?.time_release) }} PM</h4> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- st top header Start -->
<!-- st seat Layout Start -->
<div class="st_seatlayout_main_wrapper float_left">
	<div class="container container_seat">
		<div class="st_seat_lay_heading float_left">
			<h3>Ariesplex SL Cinemas</h3>
		</div>
		<div class="st_seat_full_container">
			<div class="st_seat_lay_economy_wrapper float_left">
				<div class="screen">
				  <img src="../../../assets/images/content/screen.png" alt="Screen">
				</div>
				<div class="seat-legend">
					
				</div>
			  </div>
			  
			<div class="st_seat_lay_economy_wrapper st_seat_lay_economy_wrapperexicutive float_left">
				<div class="st_seat_lay_economy_heading float_left">
					<h3>Executive + 3d glasss - rs 190.00</h3>
				</div>
				<div class="st_seat_lay_row float_left"  >
					
					<!-- Đối với từng hàng -->
					<div *ngFor="let row of getRows()" class="row">
						<!-- Hiển thị ghế trong hàng đó -->
						<div class="seats">
							<h4 style="text-transform: uppercase;">{{ row }}</h4>
						<div *ngFor="let seat of seatsByRow[row]" class="seat-col">
							<ul>
								<li [ngClass]="seat.status == 1 && !isSelected(seat) ? 'seat_disable' : (seat.seat.seat_type_id == 1 ? 'seat_type_1' : (seat.seat.seat_type_id == 2 ? 'seat_type_2' : (seat.seat.seat_type_id == 3 ? 'seat_type_3' : '')))">
								<input type="checkbox" id="{{seat.id}}" name="cb" class="c" [ngClass]="{'selected': isSelected(seat)}"
								(click)="toggleSeat(seat)"  [checked]="isSelected(seat)">
								{{ seat.seat.column }}
								<!-- {{seat.seat.seat_type.price}} -->
								<label for="{{seat.id}}"></label> <!-- Hiển thị cột -->
							</li>
							</ul>
						</div>
						</div>
					</div>
					  
					  
					  
					  
				</div>

			</div>
		</div>
		<!-- continute buttom -->
		<div class="d-flex justify-content-between col-lg-4 col-md-4 col-sm-12 col-xs-12 st_seat_full_container">
			<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left"> 
				<a [routerLink]="['/movie-booking', movieId]">
					<i class="fas fa-long-arrow-alt-left"></i> &nbsp;Back
				</a>
			</div>
			<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left border border-white">
				<ul class="mx-2">
					<li *ngFor="let seatType of seatTypes" [ngClass]="getSeatTypeClass(seatType)">
					  {{ seatType.name }} - {{ seatType.price | currency:'': 'symbol' : '1.0-0'}} 
					  <span class="color-indicator" [ngStyle]="{'background-color': getColor(seatType)}"></span> 
					</li>
					<li class="seat-type seat-type-booked">Booked Seat - <span class="color-indicator" style="background-color: gray;"></span></li>
				  </ul>
			</div>
			<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left">
				<a (click)="goToFoodCombo()" href="javascript:void(0);">
				<i class="fas fa-long-arrow-alt-left"></i> &nbsp; Continue
				</a>
			</div>
		</div>
	</div>
</div>

